﻿@model HealthPlus.Models.Agenda
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
<head>
    <link href="~/App_Themes/Tema1/StyleSheet.css" rel="stylesheet" />
</head>

	<div class="form-horizontal">
		<h4>Cadastrar Agenda</h4>
		<hr />

		<div class="form-group">
			@Html.LabelFor(model => model.Hospital, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				<input type="text" class="form-control col-md-1" id="txtHospital">
				@Html.HiddenFor(model => model.Hospital, new { @class = "control-form" })
				<input type="hidden" id="Hospital" />
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#MyModal" id="btn">
					Buscar
				</button>
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Medicos, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Medicos, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Medicos, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Especialidade, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				<input type="text" class="form-control col-md-1" id="txtEspecialidade">
				@Html.HiddenFor(model => model.Especialidade, new { @class = "control-form" })
				<input type="hidden" id="Especialidade" />
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#MyModal" id="btn">
					Buscar
				</button>
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Hospital.HorarioDeAbertura, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Hospital.HorarioDeAbertura, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Hospital.HorarioDeAbertura, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Hospital.HorarioFechamento, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Hospital.HorarioFechamento, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Hospital.HorarioFechamento, "", new { @class = "text-danger" })
			</div>
		</div>


		<div class="form-group ">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Adicionar" class="btn btn-default" id="btn2"/>
				<input type="submit" value="Salvar" class="btn btn-default" id="btn"/>
				<input type="submit" value="Cancelar" class="btn btn-default" id="btn3"/>
			</div>
		</div>
	</div>



		<!--Modal-->
			<div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<div class="modal-body">
							<div class="form-group">
								@Html.LabelFor(model => model.Especialidade)
								@Html.EnumDropDownListFor(model => model.Especialidade)
								<div id="EspecialidadeDoMedico"></div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
						</div>
					</div>
				</div>
			</div>

}

<div>

</div>



@section scripts{
	<script type="text/javascript">


			$("#Especialidade_Medico").on("change", function () {
				var estadoView = $(this).val();
				$("#EspecialidadeDoMedico").load('@Url.Action("ListarEspecialidade", "Especialidade")', { especialidade: especialidadeView });
			});

			
			$("#EspecialidadesDoMedico").on("click", "td a", function () {
				$("#txtEspecialidade").val($(this).attr("value"));
				$("#MyModal").modal("hide");
			});

	</script>
}







@*@model HealthPlus.Models.Medico

	@{
		ViewBag.Title = "Index";
		Layout = "~/Views/Shared/_Layout.cshtml";
	}

	@using (Html.BeginForm())
	{

		<div class="form-horizontal">
			<h4>Cadastrar Agenda</h4>
			<hr />

			<div class="form-group">
				@Html.LabelFor(model => model.Hospitais, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					<input type="text" class="form-control col-md-1" id="txtCidade">
					@Html.HiddenFor(model => model.Hospitais, new { @class = "control-form" })
					<input type="hidden" id="Hospital" />
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#MyModal">
						Buscar
					</button>
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
					<input type="hidden" id="Medico" />
				</div>
			</div>
				<div class="form-group">
					@Html.LabelFor(model => model.Especialidade, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						<input type="text" class="form-control col-md-1" id="txtCidade">
						@Html.HiddenFor(model => model.Especialidade, new { @class = "control-form" })
						<input type="hidden" id="Especialidade" />
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#MyModal">
							Buscar
						</button>
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(model => model.Agenda.Data, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.Agenda.Data, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Agenda.Data, "", new { @class = "text-danger" })
					</div>
				</div>
			<div class="form-group">
				@Html.LabelFor(model => model.HorarioDeAbertura, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.HorarioDeAbertura, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.HorarioDeAbertura, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.HorarioFechamento, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.HorarioFechamento, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.HorarioFechamento, "", new { @class = "text-danger" })
				</div>
			</div>


				<div class="form-group ">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" value="Adicionar" class="btn btn-default" />
					</div>
				</div>
			</div>



		<!--Modal-->
		<div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div class="modal-body">
						<div class="form-group">
							@Html.LabelFor(model => model.Especialidade)
							@Html.EnumDropDownListFor(model => model.Especialidade)
							<div id="EspecialidadeDoMedico"></div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>


				</div>
			</div>
		</div>

	}

	<div>

	</div>



	@section scripts{
		<script type="text/javascript">


			$("#Especialidade_Medico").on("change", function () {
				var estadoView = $(this).val();
				$("#EspecialidadeDoMedico").load('@Url.Action("ListarEspecialidade", "Especialidade")', { especialidade: especialidadeView });
			});

			//function gt() {

			//    document.getElementById("txtCidade").value = document.getElementById("CidadeId").value

			//}

			$("#EspecialidadesDoMedico").on("click", "td a", function () {
				$("#txtEspecialidade").val($(this).attr("value"));
				$("#MyModal").modal("hide");
			});

		</script>
	}

*@




@*<p>
		@Html.ActionLink("Criar Novo", "Criar")
	</p>

		<h2>Lista</h2>

		@Html.LabelFor(model => model.Especialidade)
		@Html.EnumDropDownListFor(model => model.Especialidade)

		<div id="Especialidades">

		</div>

		@section scripts{
			<script>
			$("#Especialidade").on("change", function() {
				var estadoView = $(this).val();
				$("#EspecidadesDoMedico").load('@Url.Action("ListarEspecialidades", "Especialidades")', { especialidades: especialidadesview });
			});
			</script>
			}

*@
