﻿@model HealthPlus.Models.Agenda

@{
    ViewBag.Title = "Horarios";
}
<head>
    <link href="~/App_Themes/Tema1/StyleSheet.css" rel="stylesheet" />
</head>
<h2>Horarios</h2>

<div>
    <h4>Agenda</h4>
    <hr />
    <dl class="dl-horizontal">

		<dt>
			@Html.DisplayNameFor(model => model.Especialidade)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Especialidade)
		</dd>
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>



    </dl>
</div>
<p>
	@Html.ActionLink("Buscar", "buscar", new { id = Model.Id }) |
    @Html.ActionLink("Detalhes", "Detalhes", new { id = Model.Id }) |
    @Html.ActionLink("voltar para o inicio", "Index")
</p>
