﻿@model HealthPlus.Models.Agenda

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
<h2> </h2>
<h3>Agenda</h3>
@Html.ActionLink("Cadastrar Agenda", "CadastrarAgenda", null, new { @class = "btn btn-success" })
<hr />
    </div>

<<<<<<< HEAD
=======

<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css"> 
    <link rel="stylesheet" href="css/style.css"> 

    <title>Schedule Template | CodyHouse</title>
</head>
<body>
    <div class="cd-schedule loading">
        <div class="timeline">
            <ul>
                <li><span>09:00</span></li>
                <li><span>09:30</span></li>
                <li><span>10:00</span></li>
                <li><span>10:30</span></li>
                <li><span>11:00</span></li>
                <li><span>11:30</span></li>
                <li><span>12:00</span></li>
                <li><span>12:30</span></li>
                <li><span>13:00</span></li>
                <li><span>13:30</span></li>
                <li><span>14:00</span></li>
                <li><span>14:30</span></li>
                <li><span>15:00</span></li>
                <li><span>15:30</span></li>
                <li><span>16:00</span></li>
                <li><span>16:30</span></li>
                <li><span>17:00</span></li>
                <li><span>17:30</span></li>
                <li><span>18:00</span></li>
            </ul>
        </div> <!-- .timeline -->

        <div class="events">
            <ul>
                <li class="events-group">
                    <div class="top-info"><span>Segunda</span></div>

                    <ul>
                        <li class="single-event" data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1">
                            <a href="#0">
                                <em class="event-name">Antonio Macedo</em>
                            </a>
                        </li>

                        <li class="single-event" data-start="11:00" data-end="12:30" data-content="event-rowing-workout" data-event="event-2">
                            <a href="#0">
                                <em class="event-name">Gustavo Brito</em>
                            </a>
                        </li>

                        <li class="single-event" data-start="14:00" data-end="15:15" data-content="event-yoga-1" data-event="event-3">
                            <a href="#0">
                                <em class="event-name">Tiago Tadei</em>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="events-group">
                    <div class="top-info"><span>Terça</span></div>

                    <ul>
                        <li class="single-event" data-start="10:00" data-end="11:00" data-content="event-rowing-workout" data-event="event-2">
                            <a href="#0">
                                <em class="event-name">Cristina Foster</em>
                            </a>
                        </li>

                        <li class="single-event" data-start="11:30" data-end="13:00" data-content="event-restorative-yoga" data-event="event-4">
                            <a href="#0">
                                <em class="event-name">Bruno Silva</em>
                            </a>
                        </li>

                        <li class="single-event" data-start="13:30" data-end="15:00" data-content="event-abs-circuit" data-event="event-1">
                            <a href="#0">
                                <em class="event-name">Carlos Lobo</em>
                            </a>
                        </li>

                        <li class="single-event" data-start="15:45" data-end="16:45" data-content="event-yoga-1" data-event="event-3">
                            <a href="#0">
                                <em class="event-name">Antonio Macedo</em>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="events-group">
                    <div class="top-info"><span>Quarta</span></div>

                    <ul>
                        <li class="single-event" data-start="09:00" data-end="10:15" data-content="event-restorative-yoga" data-event="event-4">
                            <a href="#0">
                                <em class="event-name">Tiago Tadei</em>
                            </a>
                        </li>

                        <li class="single-event" data-start="10:45" data-end="11:45" data-content="event-yoga-1" data-event="event-3">
                            <a href="#0">
                                <em class="event-name">Augusto Lopes</em>
                            </a>
                        </li>

                        <li class="single-event" data-start="12:00" data-end="13:45" data-content="event-rowing-workout" data-event="event-2">
                            <a href="#0">
                                <em class="event-name">Gustavo Brito</em>
                            </a>
                        </li>

                        <li class="single-event" data-start="13:45" data-end="15:00" data-content="event-yoga-1" data-event="event-3">
                            <a href="#0">
                                <em class="event-name">Cristina Foster</em>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="events-group">
                    <div class="top-info"><span>Quinta</span></div>

                    <ul>
                        <li class="single-event" data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1">
                            <a href="#0">
                                <em class="event-name">Carlos Lobo</em>
                            </a>
                        </li>

                        <li class="single-event" data-start="12:00" data-end="13:45" data-content="event-restorative-yoga" data-event="event-4">
                            <a href="#0">
                                <em class="event-name">Morgana Silva</em>
                            </a>
                        </li>

                        <li class="single-event" data-start="15:30" data-end="16:30" data-content="event-abs-circuit" data-event="event-1">
                            <a href="#0">
                                <em class="event-name">Cristina Foster</em>
                            </a>
                        </li>

                        <li class="single-event" data-start="17:00" data-end="18:30" data-content="event-rowing-workout" data-event="event-2">
                            <a href="#0">
                                <em class="event-name">Tiago Tadei</em>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="events-group">
                    <div class="top-info"><span>Sexta</span></div>

                    <ul>
                        <li class="single-event" data-start="10:00" data-end="11:00" data-content="event-rowing-workout" data-event="event-2">
                            <a href="#0">
                                <em class="event-name">Antonio Macedo</em>
                            </a>
                        </li>

                        <li class="single-event" data-start="12:30" data-end="14:00" data-content="event-abs-circuit" data-event="event-1">
                            <a href="#0">
                                <em class="event-name">Gustavo Brito</em>
                            </a>
                        </li>

                        <li class="single-event" data-start="15:45" data-end="16:45" data-content="event-yoga-1" data-event="event-3">
                            <a href="#0">
                                <em class="event-name">Carlos Lobo</em>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="event-modal">
            <header class="header">
                <div class="content">
                    <span class="event-date"></span>
                    <h3 class="event-name"></h3>
                    
                </div>

                <div class="header-bg"></div>
            </header>

            <div class="body">
                <div class="event-info"></div>
                <div class="body-bg"></div>
            </div>

            <a href="#0" class="close">Close</a>
        </div>

        <div class="cover-layer"></div>
    </div> <!-- .cd-schedule -->
    <script src="Scripts/modernizr-2.8.3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script>
        if (!window.jQuery) document.write('<script src="Script/jquery-3.3.1.min.js"><\/script>');
    </script>
    <script src="Scripts/main.js"></script> <!-- Resource jQuery -->
</body>
</html>
>>>>>>> BackEnd
