﻿@model IEnumerable<HealthPlus.Models.Medico>

@{
                /**/

                ViewBag.Title = "Médicos";
}

<h3>Lista de Médicos</h3>
@Html.ActionLink("Novo Medico", "Novo", null, new { @class = "btn btn-success" })
<hr />

@if (Model != null)
{
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaEspecialidades)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>

            <th>#</th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Crm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListaEspecialidades)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Desativar", "Desativar", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        }
    </table>
}
else
{
    <h2>Nenhum médico encontrado</h2>
}
