﻿@model HealthPlus.Models.Medico

@{
    ViewBag.Title = "Novo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/App_Themes/Tema1/StyleSheet.css" rel="stylesheet" />
</head>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>

<script>
    $(document).ready(function () {
        $("#botaoAddEsp").click(function () {
            $("#listEsp").append("<li>" + $("#espId option:selected").text() +
                "<input type='checkbox' name='chkEsp' id='chkEsp' class='chkEsp' checked='checked' value='" +
                $("#espId option:selected").val() + "'></li>");
        });
    });
</script>
<h2>Novo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Medico</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Crm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Crm, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Crm, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ativo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Ativo)
                    @Html.ValidationMessageFor(model => model.Ativo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Especialidades, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownListFor(model => model.Especialidades, new SelectList(ViewBag.Especialidades), new { @class="form-control"})*@
                @Html.DropDownList("espId", new SelectList(ViewBag.Especialidades, "Id", "Tipo"), "Selecione", new { @class = "form-control" })
                @*@Html.DropDownListFor(model => model.Especialidades, new SelectList(ViewBag.Especialidades, "Id", "Tipo", "Medicos"), new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.Especialidades, "", new { @class = "text-danger" })

            </div>
            
        </div>

        <ul id="listEsp"></ul>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" id="btnNew" class="btn btn-default" />
            </div>
        </div>
    </div>
}
    <button id="botaoAddEsp" name="btnAddEsp" class="btn btn-info">Add</button>


<div>
    @Html.ActionLink("Mostrar Lista", "Index")
</div>
