﻿@model IEnumerable<HealthPlus.Models.Hospital>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/App_Themes/Tema1/StyleSheet.css" rel="stylesheet" />
</head>
<h2>Lista de Hospitais</h2>
<p>@Html.ActionLink("Novo Hospital", "Novo", null, new { @class = "btn btn-success" })</p>


@if (Model != null)
{
<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorarioDeAbertura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorarioFechamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contato)
        </th>
        <th>#</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioDeAbertura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioFechamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contato)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Desativar", "Desativar", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
}
else
{
        <h2>Nenhum Hospital Encontrado</h2>
}
