﻿@model HealthPlus.Models.Medico

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Inicio";
}
<head>
    <link href="~/App_Themes/Tema1/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="jumbotron" id="principal">
        <h1>
            Bem Vindo ao
            <br />Health Plus+
        </h1>
        <p class="lead">
            Aqui você pode localizar o Horário de atendimento de vários médicos em vários hospitais.
            <br />
            <br />É Muito simples, basta informar uma especialidade médica abaixo, para que possamos localizar o hospital e o médico em uma data ideal para você.
        </p>
    </div>

    <div class="col-lg-12">
        <div class="form-group">
            @Html.LabelFor(model => model.Especialidade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EnumDropDownListFor(model => model.Especialidade, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Especialidade, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <label>Data:</label> <input type="text" class="form-control" />
        </div>
        <br />
        <div class="row">
            <button class="btn btn-primary" id="btn">Buscar</button> <button class="btn btn-warning">Limpar</button>
        </div>
    </div>
</body>