﻿body {
    background: #F0FFFF;
}

/* Texto da página inicial*/
#principal {
    font-family: 'Lucida Sans Unicode';
    font-style: italic;
    background-color: #98FB98;
}

h4 {
    font-family: 'Lucida Sans Unicode';
}

div{
    font-family:'Lucida Sans Unicode';
}

/*Botões Salvar/buscar*/
#btn {
    float: left;
    background: #008B45;
    border-color: #228B22;
    margin-right: 10px;
    opacity: 0.8;
    color: white;
}
#btn:hover {
    opacity: 1.0;

} 
/*Botões Adicionar*/
#btn2 {
    background: #FF8C00;
    color: white;
    opacity: 0.8;
}
#btn2:hover {
    opacity: 1.0;
}

/*Botões Cancelar/Excluir*/
#btn3 {
    background: #B22222;
    opacity: 0.8;
    color: white;
}
#btn3:hover {
    opacity: 1.0;
}


