<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Health Plus</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Health Plus", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <!--Verificar se está logado, se estiver exibir Menu-->
                    @if (true)
                    {
                        <li>@Html.ActionLink("Médicos", "Index", "Medico")</li>
                        <li>@Html.ActionLink("Hospitais", "Index", "Hospital")</li>
                        <li>@Html.ActionLink("Especialidades","Novo", "Especialidade")</li>
                        <li>@Html.ActionLink("Agenda", "Index", "Agenda")</li>
                    }
                </ul>

                <div align="right">
                    <!--Se Logado exibir Logoff-->
                    <!-- @if (!true)
                      {
                      <a href="/" class="btn btn-default" style="margin-top:8px;">Login</a>
                      }
                      else
                      {
                      <a href="/" class="btn btn-default" style="margin-top:8px;">Logoff</a>
                      }-->
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Health Plus</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", false)
</body>
</html>
